{% extends 'ManagerApp/layout.html' %}

{% block content %}

<h3 id="main_header">Welcome to the Subscription Manager App!</h3> <br>
This is a simple application written in Python based on the Django and Bootstrap Frameworks. <br>
It allows the user to easily manage all his subscriptions (recurring and non-recurring) to various services. <br>
You no longer have to remember all your active subscriptions and worry about forgeting to renew them. <br>
The App remebers all the necessary info about your subscription and displays the summary in a readable way. <br>
You can also add custom reviews to your subscriptions and the App can then suggest you which subscription to continue
and which to cancel. <br> It also allows the user to create custom Plans to easily group all your subscriptions <br>

{% endblock %}